<!DOCTYPE html>
<html>
  <head>
    <title>FDMS</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" %>

    <!-- Add jQuery and DataTables JS -->
    <%= javascript_include_tag "https://code.jquery.com/jquery-3.6.0.min.js" %>
    <%= javascript_include_tag "https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <div class="container-fluid">
      <% if user_signed_in? %> 
        <%= render 'layouts/sidebar' %>
        <div id="page-content">
          <%= render 'layouts/flash_messages' %>
          <%= yield %>
        </div>
        <%= render 'layouts/footer' %>
      <% else %>
        <%= render 'layouts/flash_messages' %>
        <%= yield %>
      <% end %>
    </div>

    <%= javascript_include_tag "application", "data-turbo-track": "reload" %>
  </body>
</html>
